@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
::-webkit-scrollbar {
     width: 0;
}
body {
     font-family: 'Outfit', sans-serif !important;
     line-height: 1.2;
     color: #454545;
     font-size: 18px;
     margin: 0;
     font-weight: 300;
     text-shadow: none;
}
a {
     text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
     font-weight: bold !important;
}
.space-btw {
     padding-top: 100px;
     padding-bottom: 100px;
}
header {
     display: flex;
     justify-content: center;
     position: fixed;
     top: 20px;
     width: 100%;
     left: 0;
     z-index: 999;
}
.header-sec {
     display: flex;
     padding: 20px;
     padding-left: 50px;
     border-radius: 50px;
     box-shadow: 0 0 8px 0 #00000030;
     justify-content: space-between;
     align-items: center;
     background: #fff;
}
.header-sec h1 {
     color: #261748;
}
.header-sec .menu-list {
     padding: 0;
     margin: 0;
     list-style: none;
     display: flex;
     align-items: center;
     gap: 30px;
}
.header-sec .menu-list a {
     color: #2B1C50;
}
.header-sec .menu-list .active a,
.header-sec .menu-list a:hover {
     color: #F35D00;
}
.level-up {
     padding: 10px 20px;
     border-radius: 50pc;
     border: 1px solid #7E80F9;
     background: #7E80F9;
     color: #fff;
     outline: 0 !important;
     font-size: 16px;
     width: fit-content;
     display: block;
     text-align: center;
}
.level-up:hover {
     background: #fff;
     color: #7E80F9;
}
.banner {
     display: block;
     position: relative;
     padding: 200px 0 200px;
     background: url('/banner-wave.svg');
     background-size: cover;
     background-position: bottom;
}
.banner-img {
     width: 100%;
     height: 400px;
     animation: img_left_right 10s ease-in-out alternate infinite;
}
.banner-txt h1 span {
     display: inline-block;
     color: #FDA3B5;
     font-size: 5rem;
}
.banner-txt h1 span:first-child {
     animation-delay: 200ms;
}
.banner-txt h1 span:nth-child(2) {
     animation-delay: 400ms;
}
.banner-txt h1 span:last-child {
     animation-delay: 600ms;
}
@keyframes img_left_right {
     0%,
     100% {
          transform: translate(10px, 10px);
     }
     50% {
          transform: translate(0);
     }
}
@keyframes fade {
     0% {
          opacity: 0
     }
     10% {
          opacity: 1
     }
     90% {
          opacity: 1
     }
     to {
          opacity: 0
     }
}
@keyframes move {
     0% {
          transform: translateX(100%);
     }
     to {
          transform: translateX(-100%);
     }
}
.cloud {
     animation-direction: normal;
     animation-duration: 10s;
     animation-fill-mode: both;
     animation-iteration-count: infinite;
     animation-name: move, fade;
     animation-timing-function: linear;
     background-repeat: no-repeat;
     background-size: 100%;
     display: block;
     margin: 0 auto;
     position: absolute;
}
.cloud--small {
     top: 55%;
     background-image: url('/cloud-small.svg');
     width: 100px;
     height: 100px;
     left: 100px;
}
.cloud--medium {
     height: 150px;
     top: calc(50% - 50px);
     width: 150px;
     background-image: url('/cloud-medium.svg');
     left: -150px;
}
.cloud--large {
     height: 200px;
     top: 0;
     width: 200px;
     background-image: url('/cloud-big.svg');
     left: 200px;
}
.text-content h1 {
     color: #282188;
}
@media (max-width:1200px) {
     .banner h1 span {
          font-size: 4rem;
     }
}
@media (max-width: 991px) {
     .header-sec {
          padding: 10px;
          padding-left: 30px;
     }
     body {
          font-size: 15px;
     }
     .space-btw {
          padding-top: 50px;
          padding-bottom: 50px;
     }
     .banner {
          padding: 120px 0 50px;
          background-size: cover;
     }
     .banner-txt h1 span {
          font-size: 3rem;
     }
     .text-content h1 {
          font-size: 25px;
     }
}
@media (max-width:767px) {
     .banner {
          padding: 120px 0 50px;
     }
}
@media (max-width: 550px) {
     .banner .row {
          flex-direction: column-reverse;
     }
     .banner {
          padding: 130px;
     }
     .banner-img {
          height: 300px;
     }
     .banner .container-md {
          overflow: hidden;
     }
}